/* 
@media print {
    h1 {
        color: red;
    }
} */

h1 {
    font-size: 30px;
}

/* @media screen and (max-width: 900px) {
h1 {
    color: red;
    font-size: 60px;
}
} */

@media screen and (min-width: 900px) and (max-width: 1000px) {
h1 {
font-size: 60px;
}
}